numpy
scipy
astropy
healpy
iminuit
getdist
matplotlib
tqdm
fitsio
camb
numba
cosmopower_slim@git+ssh://git@github.com/p-slash/cosmopower-slim.git

# mpi4py
# h5py
# zeus-mcmc~=2.5
# emcee~=3.1
# nautilus-sampler